{{{html}}}
<aside class="gh-post-upgrade-cta">
    <div class="gh-post-upgrade-cta-content" style="background-color: {{accentColor}}">
        {{#has visibility="paid"}}
            <h2>The rest of this post is for paying subscribers only</h2>
        {{/has}}
        {{#has visibility="members"}}
            <h2>This Quality Coach post is for paid subscribers only</h2>
        {{/has}}
        {{#if @member}}
            <a class="gh-btn" href="https://www.annemariecharrett.com/#/portal/" style="color:{{accentColor}}">Try 5 days premium for free!</a>
        {{else}}
            <a class="gh-btn" href="https://www.annemariecharrett.com/#/portal/" style="color:{{accentColor}}">Try 5 days premium for free! </a>
            <p><small> I'm not sure yet, <a data-portal="signup"> send me non premium content for now</a></small></p>
            <p><small> I'm already a member, <a data-portal="signin"> let me sign in! </a></small></p>
        {{/if}}
    </div>
</aside>


